In [1]:
import pandas as pd

def reorganize(df):
    df = df.set_index(['Unnamed: 0'])
    df = df.dropna()
    df = df.rename(columns = {'Unnamed: 1':'Total','Unnamed: 2':'Male', 'Unnamed: 3': 'Female', 'Unnamed: 4': 'Helmet', 
                      'Unnamed: 5':'No Helmet', 'Unnamed: 6':'Passenger', 'Unnamed: 7':'No Passenger', 
                      'Unnamed: 8':'On Sidewalk', 'Unnamed: 9':'On Road'})
    df['Intersection'] = intersection
    return df

In [2]:
xl = pd.ExcelFile('54546_Wilcocks St EB from Spadina Ave to Huron St.xls') 

nrows = xl.book.sheet_by_index(2).nrows

wilcocks_spadina_EB = xl.parse(2, skiprows = 5, skip_footer = nrows - 21).dropna(axis=0, how='all')

intersection = 'Wilcocks and Spadina EB'

reorganize(wilcocks_spadina_EB)

,Total,Male,Female,Helmet,No Helmet,Passenger,No Passenger,On Sidewalk,On Road,Intersection
Unnamed: 0,,,,,,,,,,
07:00:00,4,2,2,1,3,0,4,0,4,Wilcocks and Spadina EB
08:00:00,25,10,15,12,13,0,25,1,24,Wilcocks and Spadina EB
09:00:00,22,10,12,7,15,0,22,1,21,Wilcocks and Spadina EB
10:00:00,24,16,8,7,17,0,24,0,24,Wilcocks and Spadina EB
11:00:00,10,7,3,2,8,0,10,0,10,Wilcocks and Spadina EB
12:00:00,13,8,5,4,9,0,13,0,13,Wilcocks and Spadina EB
13:00:00,26,20,6,8,18,0,26,0,26,Wilcocks and Spadina EB
14:00:00,20,12,8,3,17,0,20,0,20,Wilcocks and Spadina EB
15:00:00,21,10,11,6,15,0,21,2,19,Wilcocks and Spadina EB
16:00:00,23,17,6,7,16,0,23,1,22,Wilcocks and Spadina EB
17:00:00,15,9,6,3,12,0,15,3,12,Wilcocks and Spadina EB
18:00:00,17,10,7,7,10,0,17,2,15,Wilcocks and Spadina EB
Total,220,131,89,67,153,0,220,10,210,Wilcocks and Spadina EB